Source: firmware-ev3
Priority: optional
Maintainer: David Lechner <david@lechnology.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8
Section: embedded
Homepage: http://www.ev3dev.org
Vcs-Git: https://github.com/ev3dev/firmware-ev3.git
Vcs-Browser: https://github.com/ev3dev/firmware-ev3

Package: firmware-ev3
Architecture: armel
Depends: ${misc:Depends}
Replaces: ev3dev-bluetooth, ev3dev-uart
Breaks: ev3dev-bluetooth, ev3dev-uart
Description: Firmware for LEGO MINDSTORMS EV3.
 This package is only useful for LEGO MINDSTORMS EV3 running an ev3dev kernel.
